{% extends "base.html" %}
{% block title %}{{ _("Change password") }}{% endblock %}
{% block content %}
<h1>{{ _("Change password") }}</h1>
<form method="post" action="/password" class="card">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  <label>{{ _("Current password") }}
    <input type="password" name="current" autocomplete="current-password" required>
  </label>
  <label>{{ _("New password") }}
    <input type="password" name="password" autocomplete="new-password" required minlength="8">
  </label>
  <label>{{ _("Confirm new password") }}
    <input type="password" name="confirm" autocomplete="new-password" required minlength="8">
  </label>
  <button type="submit">{{ _("Update password") }}</button>
</form>
{% endblock %}
